Bottleneck
contourpy
coverage==7.9.2
cycler
flake8==7.3.0
fonttools
iniconfig==2.1.0
joblib==1.5.1
kiwisolver 
matplotlib==3.10.0
mccabe==0.7.0
numexpr
numpy
packaging 
pandas
patsy==1.0.1
pillow 
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyparsing 
PyQt6==6.7.1
PyQt6_sip 
pytest==7.4.3
pytest-cov==4.1.0
python-dateutil 
pytz 
scikit-learn==1.7.0
scipy==1.16.0
seaborn
sip 
six
statsmodels==0.14.5
threadpoolctl==3.6.0
tornado
tzdata 
unicodedata2
